Flask>=2.3
tree_sitter>=0.22.0
tree_sitter_languages>=1.9.0; python_version < '3.13'
tree_sitter_javascript>=0.21.0; python_version < '3.13'
tree_sitter_typescript>=0.21.0; python_version < '3.13'
tree_sitter_swift>=0.0.1; python_version < '3.13'
